.about-link {
  font-weight: bold;
  font-size: 14px;
  color: var(--color-fourth);
  text-decoration: none;
  text-transform: uppercase;
}

.about-link.-light {
  width: 50px;
  height: 17px;
  color: var(--color-zero);
}