.label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    font-size: var(--size-small);
    color: var(--color-fourth);
}

.label::selection {
    background-color: var(--color-first);
    color: var(--color-zero);
}