.icon-close {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 22px;
    height: 22px;
    text-indent: -9999px;
}

.icon-close::before, .icon-close::after {
    content: '';
    left: 0;
    background-color: #FFF;
    width: 30px;
    height: 4px;
    border-radius: 2px;
}

.icon-close::before {
    transform: rotate(45deg);
}

.icon-close::after {
    transform: rotate(-45deg);
    position: absolute;
}
