.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-medium) var(--spacing-large);
}

.header > .about-link {
    margin-left: auto;
    margin-right: var(--spacing-small);
}

