.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    height: 60px;
}

.header > .about-link {
    margin-left: auto;
    margin-right: 10px;
}

.header > .menu {
    width: 25px;
    height: 20px;
}

.header.-white {
    background-color: var(--color-negative);
}


.header.-white > .about-link {
    color: var(--color-zero);
    margin-left: auto;
    margin-right: 10px;
}

.header.-white > .icon-close {
    margin-top: 18px;
}


