.profile-user {
  color: var(--color-zero);
}

.profile-user > .avatar {
  margin-bottom: var(--spacing-large);
}

.profile-user > .title {
  font-size: var(--size-large);
  font-weight: bold;
  margin-bottom: var(--spacing-small);
}

.profile-user .avatar-profile {
  width: 130px;
  height: 130px;
}

.profile-user > .description {
  width: 70%;
  margin: 0 auto;
}