.app {
    text-align: center;
}

.app .section {
    width: 100%;
    height: 640px; 
    margin-bottom: 2.5rem;
}

.app  .header {
    margin: 0 auto 85px;
}

.app .card {
    display: inline-block;
    box-sizing: border-box;
    width: 90vw;
    height: 90vw;
    margin-bottom: 40px;
}